<section class="info">
	<div class="detail">
		<div class="bar-list">
			<p>Your location:</p>
			<p class="location"><%= @location %></p>

		</div>
	</div>

	<div class="map">
		
	</div>
</section>

 <script id="bar-box-template" type="text/x-underscore-template">
    
 	<div class="container">
    <div class="row">
    	  <div id="bar-description">
		      <header class="content">
		        <a href="/bars/{{ id }}"><h3>{{ name }}</h3></a>
		      </header>
		      <p> {{ address }}</p>
		      <p>Tel: {{ phone }}</p>
		      <p>Offer: {{ offer }}</p>
		    </div>
		    <div id="bar-thumbnail">
	      	<a href="/bars/{{ id }}"><img src={{ image_url }}></a>
	      	<a href={{ website}}> More... </a>
	      </div>
	
    </div>
  </div>
      
  </script>

<script>
 $('document').ready(initMap());
</script>