<div class="wrapper">
  <div class="contact_page">
    <div class="contact-details">
      <h2 style="color:tomato;">Contact us</h2>

      <p>Office: Level 12A, 45 William Street, Melbourne VIC 3000</p>
      <p>Phone: (03) 9696 7777</p>
      <p>Email: happyhourmelb@gmail.com</p>


      <h4>With over 10,000 followers on social media, 80,000 mobile app installs and listing 2,500 specials, Happy Hour is one of Australia's largest and most active listing sites for bars and pubs. Take advantage of these numbers and promote your specials to a targeted audience!</h4>

      <br>

      <h3 style="color:tomato;">Contact us to talk about membership plans!</h3>
    </div>

    <div class="image-large">
    <%= image_tag "belgian_bier_c.jpg", id: "contact_img", alt: "" %>

    </div>

  </div>
</div>