<div class="contact_page">
  <div class="contact-details">
    <h2 style="color:tomato;">Contact us</h2>
    <p>Office: Level 12A, 45 William Street, Melbourne VIC 3000</p>
    <p>Phone: (03) 9696 7777</p>
    <p>Email: happyhourmelb@gmail.com</p>
  </div>
  <div class="image-large">
  <img id="contact_img" src="/assets/belgian_bier_c.jpg" alt="">

  </div>
</div>