<div class="container">
  <div class="jumbotron text-center">

   <h2 style="color:tomato;">Find your nearest happy hour!</h2>

    <p>Search hundreds of local bars with special happy hour offers</p>

      <%= form_tag '/bars', method: 'GET' do %>
      <input class="address" type="text" placeholder="my current location" name="address">
      <input class="postcode" type="text" placeholder="postcode" name="postcode">
      <input class="day" type="text" placeholder="day" name="day">
      <button id="search-btn">Search</button>
      <% end %>
    <p></p>
      <img style="width:100%;" src="assets/yellow_bar.jpg" alt="">
    <p></p>
        <%= session[:user_id] %>

        <%= form_tag '/login', method: 'post' do %>
        <label for="">email</label>
          <input type="text" name="email">

        <label for="">password</label>
          <input type="password" name="password">
        <button>login</button>

        <% end %>

        <%= form_tag '/logout', method: 'delete' do %>
        <button>logout</button>
        <% end %>
      </div>
    </div>
