html, body {
	width: 100%;
	/*height: 100%;*/
}
.search {
	text-align: center;
}
.info {
	width: 100%;
	/*height: 50em;*/
	margin: 0 auto;
}
.detail {
	width: 48.5%;
	height: 40em;
	display: inline-block;
	margin-right: 1%;
}
.map {
	width: 48.5%;
	height: 40em;
	display: inline-block;
}