html, body {
	width: 100%;
	/*height: 100%;*/
/*	background-color: #FFCC33;*/
	background-color: white;
}
.container {
	width: 80%;
	padding: 0;
	margin-top: 0;
}
.jumbotron {
/*	padding: 3px;*/
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 10px;
	padding-left: 10px;
}
#logo {
	width: 100px;
	display: inline-block;
	padding: 0;
}
.search {
	text-align: center;
}
.info {
	width: 100%;
	margin: 0 auto;
}
.detail {
	width: 48.5%;
	height: 90vh;
	display: inline-block;
	/*margin-right: 1%;*/
/*	margin-bottom: 0;*/
}
.bar-list {
	height: 90vh;
	overflow-y: scroll;
}
.map {
	width: 48.5%;
	height: 90vh;
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
}

p {
	margin-top: 0;
	margin-bottom: 4px;
	margin-right: 0;
	margin-left: 0;
	font-size: 1em;
}

h2 {
	margin-top: 0;
	font-size: 2.5em;
}

h3 {
	margin-top: 0.5em;
	margin-bottom: .2em;
	font-weight: bold;
	font-size: 1.3em;
}
.detail {
		margin: 0 0 0 4px;
}
.navbar {
	margin-bottom: 0;
	margin-left: 0;
/*	display: inline-block;*/
/*	max-height: 60px;*/
/*	text-align: center;*/
}
.navbar-collapse {
	display: inline-block;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: 100%;
}

